:root {
  --background-color: hsl(0, 0%, 7%);
  --surface-1: hsl(0, 0%, 12%);
  --surface-2: hsl(0, 0%, 14%);
  --surface-3: hsl(0, 0%, 20%);
  --surface-4: hsl(0, 0%, 16%);
  --surface-5: hsl(0, 0%, 18%);
  --surface-6: hsl(0, 0%, 19%);
  --surface-7: hsl(0, 0%, 21%);
  --surface-8: hsl(0, 0%, 22%);
  --surface-9: hsl(0, 0%, 23%);

  --prinary-color: #bb86dc;
  --secondary-color: #03dac5;
  --error-background: #cf6679;
  --success-background: #78cf66;
  --text-color: white;
  --text-color-light: rgb(168, 168, 168);
}

body {
  background-color: var(--background-color);
  font-size: 16px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body,
button,
input,
textarea {
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

input,
textarea {
  background-color: var(--surface-3);
  color: var(--text-color);
  text-decoration: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

button {
  color: black;
}

button,
.button {
  background-color: var(--prinary-color);
  color: black;
  text-decoration: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

h1,
h2,
h3 {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 3rem;
  background-color: var(--surface);
}

header .title {
  margin-right: auto;
}

header .title a {
  color: white;
  text-decoration: none;
}

header .buttons {
  display: flex;
  gap: 1rem;
}

.clients {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.clients a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: var(--surface-2);
  padding: 3rem 2rem;
  border-radius: 1rem;
  border: 2px solid var(--surface-9);
  transition: 0.5s transform, 0.5s border-color;
}

.clients a:hover {
  border-color: var(--prinary-color);
  transform: translate(0, -5px);
}

.current-user {
  background-color: var(--surface-2);
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.body {
  width: 1000px;
  align-self: center;
  margin: 4rem 0;
  padding: 1rem;
  position: relative;
  display: grid;
  gap: 2rem;
}

.page-title {
  font-size: 1.5rem;
}

.errors,
.successes {
  display: grid;
  gap: 1rem;
}

.error,
.success {
  color: black;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-weight: bold;
}

.error {
  background-color: var(--error-background);
}

.success {
  background-color: var(--success-background);
}

.loading {
  width: 2rem;
  height: 2rem;
  border: 8px dotted white;
  border-radius: 50%;
  align-self: center;
  animation-name: spin;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

main {
  background-color: var(--surface-1);
  padding: 2rem 2rem 4rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.welcome a {
  color: var(--prinary-color);
}

.folder-buttons {
  display: flex;
  gap: 1rem;
  align-items: start;
}

.hidden {
  display: none;
}

form {
  display: grid;
  gap: 2rem;
  background-color: var(--surface-2);
  padding: 1rem;
  border-radius: 1rem;
}

.hidden-form-container {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: grid;
  gap: 1rem;
}

.form-row.checkbox {
  display: flex;
}

form .buttons {
  display: flex;
  justify-content: center;
}
